.arrowContainer {
  display: flex;
  justify-content: space-between;
  top: 16%;
  position: fixed;
  width: 100%;
}

.arrowout {
  background: #ececec;
  border-radius: 5px 0px 0px 5px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.arrowout img {
  width: 20px;
  height: 14.01;
}

.arrowout:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .arrowContainer {
    display: none;
  }
}
