.loginContainer {
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputout {
  width: 300px;
  height: 42px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  position: relative;
}

.inputout input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 13px;
  background: none;
  border-radius: 5px;
  font-family: 'Vollkorn';
  font-weight: 400;
  font-size: 15px;
}

.inputout input:focus {
  outline: none;
}

.inputout img {
  width: 18px;
  height: 18px;
  position: absolute;
  opacity: 0.7;
  right: 12px;
  top: 12px;
}

.lableText {
  font-family: 'Vollkorn';
  font-weight: 600;
  font-size: 15px;
  color: #252a31;
}

.btnOut {
  display: flex;
  justify-content: center;
  width: 300px;
}

.loginBtn {
  border: none;
  width: 137px;
  height: 40px;
  background: #9d9d9d;
  border-radius: 3px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Vollkorn';
}

.enable {
  background: #252a31;
  cursor: pointer;
}

.loginBtn:hover {
  opacity: 0.8;
}

.noCredentialContainer {
  display: flex;
  align-items: center;
  width: 300px;
  margin-top: 18px;
}

.noCredentialContainer p {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-size: 13px;
  color: #1e1e1e;
}

.noCredentialContainer img {
  padding-left: 10px;
  width: 20px;
  height: 10.01px;
}

.noCredentialContainer img:hover {
  opacity: 0.7;
}


@media only screen and (max-width: 600px) {
  .inputout {
    width: 280px;
    height: 32px;
  }
  
  .loginBtn {
    width: 131px;
    height: 32px;
  }

  .inputout img {
    width: 15px;
    height: 15px;
    top: 8.5px;
  }
  

  .noCredentialContainer {
    width: 280px;
  }
  
  .noCredentialContainer p {
    font-size: 12px;
  }
  
}
